@import './_var.scss';
@import './_function.scss';
@import './_btn.scss';

@import './components/cardFlight.scss';
@import './components/searchFlight.scss';
@import './components/_navbar.scss';

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body{
  margin: 0;
  padding: 0;
}

svg{
  fill : $black;
}

