h5 {
    font-size: .75em;
    margin: 0;
}

.small {
    font-size: .75em;
    color: $my-grey-dark;
}

.medium {
    font-size: .8em;
    color: $my-grey-dark;
}


.my-btn-no-border{
    padding-block: 10px;
    width: 100%;
    margin: 0 !important;
    border-radius: 0 !important;
    border: none !important;
}

