@import "./_colors.scss";
@import "./_utils.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

img {
    width: 100%;
}

p{
    font-size: 14px;
    margin: 0;
}

#body {
    background-color: $my-color-primary;
    height: 100vh;

    display: flex;
    justify-content: space-between;
}

@import "./_functions.scss";
@import "./_navbar.scss";
@import "./_post.scss";
@import "./_comment.scss";