.comment-warapper {
    padding: 0 20px;

    .comment-form {
        @include centerElements(10px);
        padding-block: 10px;

        .el-input__wrapper {
            border-radius: 50px;
            padding-block: 3px;
        }
    }

    .comment {
        display: flex;
        gap: 10px;
        padding-bottom: 10px;

        .content {
            .content-header {
                @include spaceBetween();
                margin-bottom: 7px;
            }

            background-color: $grey-comment;
            border-radius: 8px;
            width: 90%;
            padding: 10px 10px;

            h5 {
                cursor: pointer;
            }
        }
    }
}