@mixin centerElements($gap:0, $col:row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $col;
    gap: $gap;
}

@mixin spaceBetween($gap:0px, $col: row) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: $col;
    gap: $gap;
}

@mixin borderRadius($border-radius : 0px, $overflow:hidden){
    border-radius: $border-radius;
    overflow: hidden;
}