{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h1 class="mt-4">Administration</h1>

    <ul>
        <li><a href="{{ url('app_admin_product') }}">Products</a></li>
    </ul>
</div>
{% endblock %}
