{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h1 class="mt-4">Administration</h1>
</div>
{% endblock %}
